.moviePoster{
    width: 160px;
    height: 250px;
    position: relative;
    border-radius: 7%;
}

.movie{
    width: 160px;
    display: inline-grid;
    padding: 8px 15px 8px 15px;
}

.movieTitle{
    position: relative;
    text-align: center;
}

body{
    background-color: aqua;
}